<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="font-awesome.min.css">
    <link rel="stylesheet" href="styles.css">
    <title></title>
  </head>
  <body>
    <div class="top">
      <h1>Attendance List</h1>
      <p>Enter a student name</p>
      <p>Click clock if on time</p>
      <p>Click running man if late</p>
    </div>

    <form action="/addstudent" method="POST">
      <span>Enter student</span>
      <input type="text" name="name" placeholder="first name">
      <input type="text" name="lastname" placeholder="last name">
      <button type="submit" name="button">Submit</button>
    </form>

    <ul class="studentList">
      <!-- Top row -->
      <li class="students">
        <span>Name</span>
        <span>Last Name</span>
        <span>Date added</span>
        <span>On time</span>
        <span>Late</span>
        <span>Delete</span>
        <span>Attendance</span>
      </li>
      <!-- messages.length is the amount of objects in the collection  -->
    <% for(var i=0; i<students.length; i++) {%>
      <% let thisDate = new Date(students[i].date*1000)
      let dateString = thisDate.getUTCMonth()+"-"+thisDate.getUTCDate()+"-"+thisDate.getUTCFullYear()
      %>

      <li class="students">
        <span><%= students[i].name %></span>
        <span><%= students[i].lastname %></span>
        <span><%= dateString %></span>
        <span><img class="fa fa-thumbs-up" src="images/ontime.png"aria-hidden="true"></span>
        <span><img class="fa fa-thumbs-down" src="images/late.png" aria-hidden="true"></span>
        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
        <span><%= students[i].att %></span>
      </li>
    <% } %>
    </ul>

    <script src="main.js"></script>
  </body>
</html>
