
h1, p{
  text-align: center;
  text-shadow: 1px 1px white;
}
p{
  font-size: 1.4em;
  margin: 0 0 10px 0;
}
form{
  display: block;
  width: 33.3333%;
  margin-left: 33.3333%;
  padding: 40px 0 10px 0;
}
body{
  background-image: url('http://backgroundlabs.com/files/chalkboard-background-2499.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 700px;
}

img{
  width: 15px;
}
.top{
  display: block;
  width: 30%;
  margin-left: 35%;
  padding: 10px 0 10px 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.studentList{
  border: 1px solid black;
  display: block;
  width: 60%;
  margin: 20px 0 20px 15%;
  padding: 20px 5% 20px 5%;
  background-color: rgba(255, 255, 255, 0.7);
}
.students{
  padding: 5px 0 5px 0;
  border-bottom: 1px solid gray;
}
.students>span{
  display: block;
  float: left;
  margin-right: 2%;
  min-width: 10%;
}
